<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<form action="/groupvalue/groupvalueXdmInst" method="post" id="form">
	seq:<Input type="text" name ="seq" id="seq" maxlength="10" disabled/> 
	addNaverAddress_seq:<Input type="text" name="addNaverAddress_seq" id="addNaverAddress_seq"/>
	groupInput_seq:<Input type="text" name ="groupInput_seq" id="groupInput_seq"/>
	
	
	<button type="button" id="btnSave">저장</button>
</form>

<script type="text/javascript">

document.getElementById("btnSave").onclick = function(){
	document.getElementById("form").submit();
}

</script>


</body>
</html>