<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
	<tr>
		<td>seq</td>
		<td>cellPhoneType</td>
		
		
	</tr>
	<tr> 
		<td th:text = "${item.seq}"></td>
		<td th:text = "${item.cellPhoneType}"></td>
		
	</tr>		
</table>
<a href="/phonenumber/phonenumberXdmList">목록</a>
<a th:href="@{/phonenumber/phonenumberXdmDele(seq=${item.seq})}" id="delete">삭제</a>
<a th:href="@{/phonenumber/phonenumberXdmMform(seq=${item.seq})}">수정</a>
<a th:href="@{/phonenumber/phonenumberXdmUele(seq=${item.seq})}" id="uelete">업제</a>


</body>
</html>