<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
	<tr>
		<td>seq</td>
		<td>cellPhoneType</td>
		<td>phoneNumber</td>
		<td>representPhoneNumber</td>
		<td>addNaverAddress_seq</td>
	</tr>
	<tr th:each="list : ${list}"> 
		<td th:text = "${list.seq}"></td>
		<td><a th:href="@{/phonenumber/phonenumberXdmView(seq=${list.seq})}" th:text = "${list.cellPhoneType}"></a></td>
		<td th:text = "${list.phoneNumber}"></td>
		<td th:text = "${list.representPhoneNumber}"></td>
		<td th:text = "${list.addNaverAddress_seq}"></td>
	</tr>		
</table>

</body>
</html>