<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
	<tr>
		<td>seq</td>
		<td>snsType</td>
		<td>snsAddress</td>
		<td>representSns</td>
		<td>addNaverAddress_seq</td>
	</tr>
	<tr th:each="list : ${list}"> 
		<td th:text = "${list.seq}"></td>
		<td><a th:href="@{/socialnetworkservice/socialnetworkserviceXdmView(seq=${list.seq})}" th:text = "${list.snsType}"></a></td>
		<td th:text = "${list.snsAddress}"></td>
		<td th:text = "${list.representSns}"></td>
		<td th:text = "${list.addNaverAddress_seq}"></td>
	</tr>		
</table>
<br>
<a href="/socialnetworkservice/socialnetworkserviceXdmForm">등록</a>


</body>
</html>