<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<form action="/emailaddress/emailaddressXdmInst" method="post" id="form">
	seq:<Input type="text" name ="seq" id="seq" maxlength="10" disabled/> 
	photoRegistration:<Input type="text" name="photoRegistration" id="photoRegistration" placeholder="email을 입력해 주세요"/>
	addFavorite:<Input type="text" name ="addFavorite" id="addFavorite"/>
	termOfRespect:<Input type="text" name="termOfRespect" id="termOfRespect"/>
	firstName:<Input type="text" name="firstName" id="firstName"/>
	middleName:<Input type="text" name="middleName" id="middleName"/>
	lastName:<Input type="text" name="lastName" id="lastName"/>
	titleName:<Input type="text" name="titleName" id="titleName"/>
	naverID:<Input type="text" name="naverID" id="naverID"/>
	nikeName:<Input type="text" name="nikeName" id="nikeName"/>
	memo:<Input type="text" name="memo" id="memo"/>
	
	<button type="button" id="btnSave">저장</button>
</form>

</body>
</html>