<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a3a3.fapp.address.AddressDao">

	<resultMap id="resultMapObj" type="com.a3a3.fapp.address.AddressDto"></resultMap>
	  
	<select id="selectList" resultMap="resultMapObj">
		SELECT 
			seq,
		    addressType,
		    zipCode,
		    searchZipCode,
		    fullAddress,
		    representAddress,
		    addNaverAddress_seq
		FROM 
			address
			WHERE 1=1
			AND delNY = 0
		    ORDER BY seq DESC
	</select>
	
	<select id ="selectOne" resultMap="resultMapObj">
	SELECT
		seq,
	    addressType
	FROM
		address
	WHERE 1=1
		AND seq = #{seq}
	ORDER BY seq DESC
	</select>
	
	<insert id="insert">
	INSERT INTO address(
		
		addressType,
		zipCode,
		searchZipCode,
		fullAddress,
		representAddress,
		addNaverAddress_seq
		)VALUES(
		
		#{addressType},
		#{zipCode},
		#{searchZipCode},
		#{fullAddress},
		#{representAddress},
		#{addNaverAddress_seq}
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	
	</insert>
	<update id="update">
	UPDATE address SET
		addressType = #{addressType},
		zipCode = #{zipCode},
		searchZipCode = #{searchZipCode},
		fullAddress = #{fullAddress},
		representAddress = #{representAddress},
		addNaverAddress_seq = #{addNaverAddress_seq}
		
	WHERE seq = #{seq}
	</update>
	
	<delete id="delete">
	DELETE FROM address
	WHERE seq = #{seq}
	</delete>
	
	<update id="uelete">
	UPDATE address SET
	delNY =1
	WHERE seq = #{seq}
	</update>
	
	
</mapper>