<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a3a3.fapp.emailaddress.EmailaddressDao">

	<resultMap id="resultMapObj" type="com.a3a3.fapp.emailaddress.EmailaddressDto"></resultMap>
	  
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			seq,
		    email,
		    rerepresenteEmail,
		    addNaverAddress_seq
		FROM
			emailaddress
		where 1=1
		ORDER BY seq DESC
	</select>
	
</mapper>