<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a3a3.fapp.emailaddress.EmailaddressDao">

	<resultMap id="resultMapObj" type="com.a3a3.fapp.emailaddress.EmailaddressDto"></resultMap>
	  
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			seq,
		    email,
		    rerepresenteEmail,
		    addNaverAddress_seq
		FROM
			emailaddress
		where 1=1
		ORDER BY seq DESC
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			seq,
		    email
		FROM
			emailaddress
		where 1=1
			AND seq = #{seq}
		ORDER BY seq DESC

	</select>
	
	<insert id="insert">
	INSERT INTO emailaddress(
	
		email,
		rerepresenteEmail,
		addNaverAddress_seq
		)
		values(
		
		#{email},
		#{rerepresenteEmail},
		#{addNaverAddress_seq}
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	<update id="update">
		
		UPDATE emailaddress SET
		
		email = #{email},
		rerepresenteEmail = #{rerepresenteEmail},
		addNaverAddress_seq = #{addNaverAddress_seq}
		
		WHERE seq = #{seq}
	</update>
	
	
</mapper>