<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a3a3.fapp.phonenumber.PhonenumberDao">

	<resultMap id="resultMapObj" type="com.a3a3.fapp.phonenumber.PhonenumberDto"></resultMap>
	  
	<select id="selectList" resultMap="resultMapObj">
		select
			seq,
		    cellPhoneType,
		    phoneNumber,
		    representPhoneNumber,
		    addNaverAddress_seq
		FROM
			phonenumber
		    WHERE 1=1
		    ORDER BY seq DESC
	
	</select>
	<select id="selectOne" resultMap="resultMapObj">
		SELECT 
			seq,
		    cellPhoneType
		FROM
			phonenumber
		WHERE 1=1
			AND seq = #{seq}
		ORDER BY seq DESC

	</select>
	
	<insert id="insert">
	INSERT INTO phonenumber(
		
		cellPhoneType,
		phoneNumber,
		representPhoneNumber,
		addNaverAddress_seq
	)VALUES(
		
		#{cellPhoneType},
		#{phoneNumber},
		#{representPhoneNumber},
		#{addNaverAddress_seq}
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		
		UPDATE phonenumber SET
		
			cellPhoneType = #{cellPhoneType},
			phoneNumber = #{phoneNumber},
			representPhoneNumber = #{representPhoneNumber},
			addNaverAddress_seq = #{addNaverAddress_seq}

		WHERE seq = #{seq}
	</update>
	
</mapper>