<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
	<tr>
		<td>seq</td>
		<td>birthdayType</td>
		<td>birthSolarCalendar</td>
		<td>birthLunarCalendar</td>
		<td>pickSolarCalendar</td>
		<td>pickLunarCalendar</td>
		<td>representBirthday</td>
		<td>addNaverAddress_seq</td>
	</tr>
	<tr th:each="list : ${list}"> 
		<td th:text = "${list.seq}"></td>
		<td><a th:href="@{/birthandaniversary/birthandaniversaryXdmView(seq=${list.seq})}" th:text = "${list.birthdayType}"></a></td>
		<td th:text = "${list.birthSolarCalendar}"></td>
		<td th:text = "${list.birthLunarCalendar}"></td>
		<td th:text = "${list.pickSolarCalendar}"></td>
		<td th:text = "${list.pickLunarCalendar}"></td>
		<td th:text = "${list.representBirthday}"></td>
		<td th:text = "${list.addNaverAddress_seq}"></td>
	</tr>		
</table>
<br>
<a href="/birthandaniversary/birthandaniversaryXdmForm">등록</a>

</body>
</html>