<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
	<tr>
		<td>seq</td>
		<td>homePageAddress</td>
		<td>representhomePage</td>
		<td>addNaverAddress_seq</td>
	</tr>
	<tr th:each="list : ${list}"> 
		<td th:text = "${list.seq}"></td>
		<td><a th:href="@{/personalhomepage/personalhomepageXdmView(seq=${list.seq})}" th:text = "${list.homePageAddress}"></a></td>
		<td th:text = "${list.representhomePage}"></td>
		<td th:text = "${list.addNaverAddress_seq}"></td>
	</tr>		
</table>
<br>
<a href="/personalhomepage/personalhomepageXdmForm">등록</a>
</body>
</html>