<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
	<tr>
		<td>seq</td>
		<td>email</td>
		<td>rerepresenteEmail</td>
		<td>addNaverAddress_seq</td>
	</tr>
	<tr th:each="list : ${list}"> 
		<td th:text = "${list.seq}"></td>
		<td><a th:href="@{/emailaddress/emailaddressXdmView(seq=${list.seq})}" th:text = "${list.email}"></a></td>
		<td th:text = "${list.rerepresenteEmail}"></td>
		<td th:text = "${list.addNaverAddress_seq}"></td>
	</tr>		
</table>
<br>
<a href="/emailaddress/emailaddressXdmForm">등록</a>

</body>
</html>